# macOS system files
.DS_Store

# Xcode project files
*.xcuserstate
*.xcworkspace
xcuserdata/

# Derived data & build artifacts
DerivedData/
build/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Ignore generated logs & user-specific settings
*.log
*.swp
*.swo
*.swn

# Snapshots (if you don't want to commit them)
__Snapshots__/

# Ignore environment files
.env
.env.local
.env.*.local
